<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- css 추가 예정 -->
</head>
<body>

    <div class = "head_container">
        <div class = "head_line">
            <h1> Wee Main Page </h1>
        </div>
    </div>

    <div class = "body_container">
        <div class = "body_first" id = "enrollment">
            <button class="enroll_btn">회원 가입</button>
        </div>
        <div class = "body_second" id = "login">
            <button class="login_btn">로그인</button>
        </div>
        <div class = "body_third" id = "logout">
            <button class="logout_btn">로그아웃</button>
        </div>
    </div>

</body>
</html>